.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 1000px;

  height: 100%;

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    max-width: 600px;
    margin-top: 40px;
  }

  &-title {
    margin-bottom: 40px;
  }

  &-info {
    display: flex;
    flex-direction: row;
    gap: $space-m;
  }

  &-image {
    border-radius: $border-radius;
    background-color: #0000000d;
  }

  &-raw {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
  }

  &-text {
    margin-top: 0;
    text-align: start;
  }

  &-star {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    width: min-content;
    padding: 4px 0;
  }

  &-starIcon {
    color: transparent;
    stroke: #ff0000;
    transition: color 0.2s;
  }

  &-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $space-xxs;
    width: max-content;
    min-height: 52px;
    border: 0;
    border-radius: $border-radius;
    padding: $space-s $space-l;
    overflow: hidden;
    color: $button-primary-text;
    background-color: $button-primary-bg;
    cursor: pointer;

    &:hover {
      color: $button-primary-text-hover;
      background-color: $button-primary-bg-hover;
    }
  }
}
