.verifyEmailPage {
  display: grid;
  grid-template-columns: -webkit-max-content;
  grid-template-columns: max-content;
  grid-template-rows: -webkit-max-content;
  grid-template-rows: max-content;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  min-height: 100%;
  overflow: auto;
}
