.editorHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: $space-m;
  width: 100%;

  &-section {
    width: 100px;
    margin-top: 12px;
    font-weight: 500;
    cursor: pointer;

    &_selected {
      text-decoration: underline;
    }
  }
}
