.searchSystemContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: $space-m $space-xl;
  width: calc(100% - 40px);
  margin: 36px 20px 0px;

  &-input {
    min-width: 230px;
    max-width: 400px;
  }
}
