.errorPopup {  
  // anchor-name: var(--anchor-el);
  // anchor-scope: --anchor-el;

  &-text {
    margin: 0;
    color: $error;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
  &-errorIcon {
    width: 20px;
    height: 20px;
    color: $error;
  }

  &-trigger {
    border: none;
    padding: 0;
    outline: inherit;
    color: inherit;
    font: inherit;
    background: none;
    cursor: pointer;
    anchor-name: var(--anchor-el);

    &_visible {
      display: none;
    }
  }

  &-popover {
    right: anchor(--anchor-el right);
    bottom: anchor(--anchor-el top);
    margin: 0;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    padding: $space-xxs $space-m;
    background-color: #fff;
    position-anchor: var(--anchor-el);
    //position: absolute;
    // top: 1rem;
    // left: 0;
    // right: 0
   
    inset-area: top span-left;
  }
}
