.history-card {
  @include notbutton;

  display: grid;
  grid-template-rows: repeat(3, auto) 1fr auto;
  gap: $space-l;
  padding: $space-xl $space-xs;
  height: 100%;
  max-width: 280px;
  width: 100%;
  background-color: $card-bg;
  border-radius: $border-radius;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  @include shadow-hover;
  transition:
    scale 200ms,
    box-shadow 200ms;

  &:hover {
    scale: 1.01;
  }

  &-subtitle {
    text-align: left;
  }

  &-modal {
    position: fixed;
    padding: $space-xl;
    inset: 0px;
    border-radius: 12px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 400px;
    max-height: min(500px, calc(100dvh - 40px));
    overflow: visible;
    @include shadow;

    &:popover-open {
      display: flex;
      border: 0;
    }

    &::backdrop {
      background-color: rgb(255 255 255 / 0.5);
    }

    &-text {
      margin: 0;
    }
  }

  &-rawWrapper {
    display: grid;
    grid-template-columns: 1fr min-content;
    gap: $space-m;
  }

  &-result {
    text-align: start;
  }

  &-closeIcon {
    @include notbutton;
    position: absolute;
    width: 36px;
    height: 36px;
    top: -12px;
    right: -12px;
    color: $brand;
    cursor: pointer;
  }

  &-repeatButton {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
