.user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid $border-color;
  border-radius: 50%;
  cursor: pointer;
  anchor-name: --anchor-user-lk;

  &_disable {
    cursor: progress;
  }

  &-popup {
    position: absolute;
    top: anchor(bottom);
    right: anchor(right);
    z-index: 1000;
    margin: 6px 0 0 0;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    position-anchor: --anchor-user-lk;
    inset-area: bottom span-left;
    @include shadow;

    &[open] {
      border: 0;
    }

    &::-webkit-backdrop {
      background-color: transparent;
    }

    &::backdrop {
      background-color: transparent;
    }
  }
  &-username {
    border-bottom: 1px solid $border-color;
    padding: 14px;
  }
  &-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $space-xs;
    padding: 14px;
    cursor: pointer;

    &:hover {
      color: #fff;
      background-color: $button-primary-bg-hover;
    }

    &_isLogin {
      color: $error;

      &:hover {
        color: #fff;
        background-color: $error;
      }
    }
  }
}
