.registrationPage {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: $space-s;
  max-width: 400px;
  margin: 24px;
  border-radius: $border-radius;
  padding: 24px;
  background-color: #fff;
  @include shadow;

  &-wrapper {

    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: max-content;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    min-height: 100%;
    overflow: auto;
  }

  &-input {
    border-color: #006fb7;
  }

  &-title {
    margin: $space-s;
  }

  &-verified {
    max-width: 400px;
  }

  &-button {
    width: 100%;
  }

  &-reg {
    margin: 4px;
    text-decoration: underline;
  }

  &-err {
    margin: 0;
    color: $error;
  }
}
