.attrValue {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $space-s;
  width: 100%;
  max-width: 1000px;
  padding: $space-s 0 0 0;

  &-input {
    width: 100%;
  }

  &-deleteIcon {
    color: $error;
    cursor: pointer;
  }
}
