.fieldWithFields {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 1000px;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  padding: 20px;

  &-input {
    width: 100%;
  }

  &-clausesGroups {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  &-title {
    &-up {
      margin-top: 0;
      margin-bottom: 8px;
    }
  }

  &-newClauseGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $space-s;
    align-self: flex-start;
    max-width: 1000px;
    cursor: pointer;

    &-input {
      width: 100%;
    }

    &-addIcon {
      color: $brand;
    }
  }

  &-delete {
    position: absolute;

    top: -12px;
    right: -12px;
    border-radius: 50%;
    color: $error;
    background-color: $project-bg;
    cursor: pointer;
  }
}
