.file-upload {
  position: relative;
  width: 200px;
  min-width: 200px;
  height: 200px;

  border: 2px dashed $border-color;
  border-radius: $border-radius;
  background-color: $input-bg;

  &_uploaded {
    border: 1px solid $border-color;
  }

  &-input {
    display: none;

    &-wrapper {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }

  &-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 8px;
  }

  &-image {
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
    overflow: hidden;
  }

  &-delete {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: $brand;
    background-color: white;
    cursor: pointer;
  }

  &-text {
    &_error {
      color: $error;
    }
  }

  &-label {
    position: absolute;
    top: -8px;
    left: 8px;
    z-index: 1;
    display: flex;
    height: 20px;
    padding: 0px 7px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    background: linear-gradient(180deg, $project-bg 0%, $project-bg 8px, #ffffff00 9px, #ffffff00 100%);
  }
}
