.card {
  display: grid;
  grid-template-rows: 280px 1fr auto;
  justify-content: center;
  max-width: 288px;
  height: auto;
  background-color: $card-bg;
  border-radius: $border-radius;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  margin: 4px;
  @include shadow-hover;
  transition:
    scale 200ms,
    box-shadow 200ms;

  &:hover {
    scale: 1.005;
  }

  &-image {
    background-color: $card-image-bg;
    width: 280px;
    height: 280px;
  }

  &-info {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: $space-l;
    margin: $space-xl $space-xs;
  }

  &-subtitle {
    text-align: justify;
  }

  &-deleteIcon {
    position: absolute;
    top: 4px;
    right: 4px;
    border-radius: 50%;
    background-color: #fff;
    padding: 4px;
    opacity: 0.5;
    border: 1px solid $border-color;

    &:hover {
      opacity: 1 !important;
    }
  }

  &-input {
    width: 250px;

    &_modal {
      width: 250px;
      border-color: $input-border-focus !important;
    }
  }

  &-modal {
    position: relative;
    padding: $space-xl;
    margin: $space-l;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    background-color: #fff;
    max-width: 400px;
    @include shadow;

    &-text {
      margin: 0;
      text-align: justify;
    }
  }

  &-closeIcon {
    position: absolute;
    width: 36px;
    height: 36px;
    top: -10px;
    right: -10px;
    color: $brand;
    cursor: pointer;
  }

  &-err {
    margin: 0;
    color: $error;
  }

  &-button {
    background-color: $error;

    &:hover:enabled {
      background-color: rgba($error, 0.75);
    }
  }

  &-popup {
    background-color: #fff;
    border-radius: $border-radius;
    border: 1px solid $border-color;
    @include shadow;
    overflow: hidden;
  }

  &-dotsIcon {
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 50%;
    background-color: #fff;
    padding: 4px;
    opacity: 0.5;
    border: 1px solid $border-color;

    &:hover {
      opacity: 1 !important;
    }

    &_active {
      opacity: 1 !important;
    }
  }

  &-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $space-xs;
    cursor: pointer;
    padding: 14px;

    &:hover {
      background-color: $button-primary-bg-hover;
      color: #fff;
    }
  }

  &-stats {
    border-top: 1px solid $border-color;
    padding: $space-xxs $space-xs;
  }

  &-star {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    background-color: $star-bg;
    border-radius: 14px / 50%;
    width: min-content;
    padding: 4px 6px;
    transition: all 0.2s;

    &_canLike {
      &:hover {
        svg {
          color: #ff0000;
        }
        background-color: #ffc9c9;
      }
    }

    &_active {
      svg {
        color: #ff0000;
      }
      background-color: #ffc9c9;
    }
  }

  &-starIcon {
    transition: color 0.2s;
    stroke: #ff0000;
    color: transparent;
  }
}
