.not-found {
  width: 340px;
  margin: 24px;
  text-align: justify;

  &-404 {
    margin: 20px;
    color: $brand;
    font-size: 120px;
    line-height: normal;
    text-align: center;
  }

  &-button-back {
    color: $brand;
    font-weight: 500;
  }
}
