.multidropdown {
  position: relative;
  display: flex;
  flex-direction: column;

  &-options {
    position: absolute;
    top: calc(52px + $space-xxs);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    border-radius: $border-radius;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    background-color: $dropdown-options-bg;
  }

  &-option {
    margin: $space-s $space-xs;
    cursor: pointer;

    &:hover {
      color: $text-secondary;
    }
  }

  &-arrow {
    cursor: pointer;
  }
}
