.instruсtion {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 1000px;
  height: 100%;

  &-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: $space-m;
    width: 100%;
  }

  &-title {
    width: 100%;
    margin: 14px 0;
    font-size: 30px;
  }

  p {
    text-align: justify;
    text-indent: 25px;

    &:has(img) {
      text-indent: 0;
    }
  }

  img {
    width: 100%;
    max-width: max-content;
    height: auto;
  }
}
